* {
  box-sizing: border-box;
}

:root {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #ebe7ef;
  background-color: #242424;
  margin: 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: auto;
  background-color: #0155a2;
  text-align: center;
  margin-bottom: 0.5rem;
}

#header-h1 {
  color: #ebe7ef;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  padding: 1rem;
}

a {
  font-weight: 500;
  color: #0155a2;
  text-decoration: inherit;
}

a:hover {
  color: #003669;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0155a2;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #003669;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #003669;
  }
  button {
    background-color: #f9f9f9;
  }
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

#forces-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #727272;
}

@media (max-width: 640px) {
  #forces-container {
    flex-direction: column;
  }
}

#forces-container > :nth-child(2) {
  max-height: 400px;
  overflow-y: auto;
  min-width: 0;
}

#forces {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#forces-h2 {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

#force-select {
  position: inherit;
  padding: 0.5rem;
  background: #242424;
  border-radius: 6px;
  border: 1px solid #003669;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
}

#crimes {
  margin: auto;
}

#crimes h2 {
  text-align: left;
}

#crimes menu {
  margin: 1rem 1rem;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#crimes menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: gray;
  color: #ebe7ef;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#crimes menu button:hover {
  background-color: #003669;
  color: #ebe7ef;
}

#crimes menu button.active {
  background-color: #0155a2;
  color: #ebe7ef;
}

#crime-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

#crime-map {
  width: 50%;
  min-height: 400px;
}

#crime-data-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#crime-data-h2 {
  font-size: 30px;
  font-weight: bold;
}

#crime-data {
  flex: 1;
  width: 100%;
  max-width: 800px;
  max-height: 500px;
}

#crime-data-table {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
}

#crime-data-table-header {
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
  padding: 10px;
  text-align: center;
  color: black;
}

#crime-data-table-content {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#stop-search-container {
  margin-bottom: 2rem;
  width: 100%;
  height: 500px;
  border-radius: 0.5rem;
  border-top-width: 2px;
  border-top-color: #60a5fa;
  border-top-style: solid;
}

#stop-search-data-grid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  max-height: 400px;
  overflow-y: auto;
}
@media (min-width: 640px) {
  #stop-search-data-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  #stop-search-data-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

#stop-search-data-grid-article {
  display: flex;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  padding: 0.5rem;
}
